<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pendulum-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pendulum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PendulumTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PendulumWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>173E58581CA59BAC00B7C2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173E58671CA59BEF00B7C2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174172241CA42D67007DB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1741722E1CA42D67007DB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174172461CA43F22007DB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
